
@{
    ViewData["Title"] = "StudentRejestision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="row">
        <h5> student regisition</h5>

    </div>
    <div class="row">
        <label class="col-xl-10 col-lg-10 col-mg-10 col-sm-4">1.Name : </label>
        in
    </div>
</section>
