
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section_cls {
        background: whitesmoke;        
    }
    #page_one_heading_id {
        text-align:center;
        font-weight:bold;
    }
    #sheel_no_id{
        border:2px solid black;
        padding:5px;
        text-align:center;
    }
    #page_one_id{
        padding-top:70px;
    }
</style>

<br />
<section class="section_cls" id="page_one_id">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8" id="page_one_heading_id">
                <p>
                    FORM OF RETUN OF INCOME UNDER THE INCOME TAX <br />
                    ORDINANCE, 1984 (XXXVI OF 1984)
                </p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                <p id="sheel_no_id">
                    IT-11GA
                </p>
            </div>
        </div>
        <br />
        <div class="row" style="text-align:center; font-weight:bold">
            <div class="col-xl-3 col-lg-3 col-md-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-md-12">
                <p style="border:2px solid black;">
                    FOR INDIVIDUAL AND OTHER TAXPAYERS <br />
                    (OTHER THAN COMPANY
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-md-12">
                <p>
                    <label style="border:2px solid black;padding:20px; text-align:center">
                        Be a Respectable Taxpayer <br />
                        Submit return in due time <br />
                        Avoid penalty
                    </label>
                </p>
                <label>
                    Put the tick (√) mark wherever applicable
                </label>
                <div class="custom-control-inline">
                    <p>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> self</span>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> Universal self</span>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> Norml</span>
                    </p>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="text-align:right">
                <p>
                    <label style="border:2px solid black;padding:20px; text-align:center">
                        Photograph of<br />
                        the Assessee <br />
                        [to be attested on <br />
                        the photograph]
                    </label>
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="border:2px solid black; margin-top:50px; padding:20px">
                <div class="form-group row">
                    <label class="col-from-label col-md-4">1. Name of the Assessee:</label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">2. National ID No (if any) : </label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-4">3. UTIN (if any):  </label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">4. TIN:   </label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-2">5. (a) Circle: . </label>
                    <div class="col-md-4">
                        <input type="text" name="" id="" class="form-control" />

                        <label class="col-from-label col-md-2"> (b) Taxes Zone:  </label>
                        <input type="text" name="" id="" class="form-control" />
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-2">6. Assessment Year:  </label>
                    <div class="col-md-3">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                    <div class="form-group row">
                        <label class="col-from-label col-md-6"> 7. Residential Status: Resident F/Non-resident F </label>
                        <div class="col-md-9">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-8">8. Status: Individual F Firm F Association of Persons F Hindu Undivided Family F  </label>

                </div>


                <div class="form-group row">
                    <label class="col-from-label col-md-8">9. Name of the employer/business (where applicable):  </label>
                    <div class="col-md-4">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-9"> 10. Wife/Husband's Name (if assessee, please mention TIN):  </label>
                    <div class="col-md-3">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">11. Father's Name: </label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">12. Mother’s Name:  </label>
                    <div class="col-md-8">
                        <input type="text" name="" id="" class="form-control" />
                    </div>
                </div>



</section>
<br />
<br />
<section class="section_cls" id="page_two_id"></section>
<br />
<br />
<section class="section_cls" id="page_there_id"></section>

