
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section_cls {
        background: whitesmoke;
    }

    #page_one_heading_id {
        text-align: center;
        font-weight: bold;
    }

    #sheel_no_id {
        border: 2px solid black;
        padding: 5px;
        text-align: center;
    }

    #page_one_id {
        padding-top: 70px;
    }
</style>

<br />
<section class="section_cls" id="page_one_id">
    <form id="myForm" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8" id="page_one_heading_id">
                    <p>
                        FORM OF RETUN OF INCOME UNDER THE INCOME TAX <br />
                        ORDINANCE, 1984 (XXXVI OF 1984)
                    </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                    <p id="sheel_no_id">
                        IT-11GA
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="text-align:center; font-weight:bold">
            <div class="col-xl-3 col-lg-3 col-md-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-md-12">
                <p style="border:2px solid black;">
                    FOR INDIVIDUAL AND OTHER TAXPAYERS <br />
                    (OTHER THAN COMPANY
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-md-12">
                <p>
                    <label style="border:2px solid black;padding:20px; text-align:center">
                        Be a Respectable Taxpayer <br />
                        Submit return in due time <br />
                        Avoid penalty
                    </label>
                </p>
                <label>
                    Put the tick (√) mark wherever applicable
                </label>
                <div class="custom-control-inline">
                    <p>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> self</span>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> Universal self</span>
                        <span style="border:2px solid black; margin-left:5px; padding-left:10px; padding-right:10px; text-align:center"> Norml</span>
                    </p>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="text-align:right">
                <p>
                    <label style="border:2px solid black;padding:20px; text-align:center">
                        Photograph of<br />
                        the Assessee <br />
                        [to be attested on <br />
                        the photograph]
                    </label>
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="border:2px solid black; margin-top:50px; padding:20px">
                <div class="form-group row">
                    <label class="col-from-label col-md-4">1. Name of the Assessee:</label>
                    <div class="col-md-8">
                        <input type="text" name="nameOfAsse" id="nameOfAsse" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">2. National ID No (if any) : </label>
                    <div class="col-md-8">
                        <input type="text" name="nid" id="nid" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-4">3. UTIN (if any):  </label>
                    <div class="col-md-8 custom-control-inline">
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin1" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin2" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin3" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin4" value="-" readonly />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin5" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin6" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin7" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin8" value="-" readonly />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin9" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin10" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin11" />
                        <input type="text" style="width:25px; text-align:center" name="utin" class="utin" id="utin12" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">3. TIN:   </label>
                    <div class="col-md-8 custom-contorl-inline">
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin1" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin2" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin3" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin4" value="-" readonly />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin5" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin6" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin7" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin8" value="-" readonly />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin9" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin10" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin11" />
                        <input type="text" style="width:25px; text-align:center" name="tin" class="tin" id="tin12" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="col-from-label col-md-4">5. (a) Circle: . </label>
                        <div class="col-md-8">
                            <input type="text" name="circel" id="circel" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="col-from-label col-md-4"> (b) Taxes Zone:  </label>
                        <div class="col-md-8">
                            <input type="text" name="taxZone" id="taxZone" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <label class="col-from-label col-md-5">6. Assessment Year: </label>
                        <div class="col-md-7">
                            <input type="text" name="asseYear" id="asseYear" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <label class="col-from-label col-md-5"> 7.  Residential Status: </label>
                        <div class="col-md-7 custom-control-inline">
                            <span>Resident</span> <input id="resident" type="checkbox" style="width:25px" />
                            <span>/Non-Resident</span> <input id="nonResident" type="checkbox" style="width:25px" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-2">
                    </div>
                    <label class="col-from-label col-md-2"> 8. Status: </label>
                    <div class="col-md-10 custom-control-inline">
                        <span>Individual</span> <input id="individual" type="checkbox" style="width:25px" />
                        <span>/Firm</span> <input id="firm" type="checkbox" style="width:25px" />
                        <span>Association of Persons</span> <input id="associationOfPerson" type="checkbox" style="width:25px" />
                        <span>Hindu Undivided Family</span> <input id="hinduUndividedFamily" type="checkbox" style="width:25px" />

                    </div>

                </div>


                <div class="form-group row">
                    <label class="col-from-label col-md-5">9. Name of the employer/business (where applicable):  </label>
                    <div class="col-md-7">
                        <input type="text" name="nameOFEmployee" id="nameOFEmployee" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-9"> 10. Wife/Husband's Name (if assessee, please mention TIN):  </label>
                    <div class="col-md-3">
                        <input type="text" name="husbandORWife" id="husbandORWife" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-from-label col-md-4">11. Father's Name: </label>
                    <div class="col-md-8">
                        <input type="text" name="father" id="father" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-from-label col-md-4">12. Mother’s Name:  </label>
                    <div class="col-md-8">
                        <input type="text" name="mother" id="mother" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-8">13. Date of Birth (in case of individual) : </label>
                    <div class="col-md-4">
                        <input type="date" name="dateOFBirth" id="dateOFBirth" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-1">14.Address:  </label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="row form-group">
                            <label class="col-from-label col-md-2">(a) Present:  </label>
                            <div class="col-md-10">
                                <textarea rows="7" name="presentAddress" id="presentAddress" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-from-label col-md-2">(b) Parmanet:  </label>
                            <div class="col-md-10">
                                <textarea rows="7" name="prmanentAddress" id="prmanentAddress" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="col-from-label col-md-6">15. Telephone: Office/Business </label>
                        <div class="col-md-6">
                            <input type="text" name="mobileOffice" id="mobileOffice" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="col-from-label col-md-2"> Residential: </label>
                        <div class="col-md-10">
                            <input type="text" name="residential" id="residential" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-from-label col-md-4"> 16. VAT Registration Number (if any):  </label>
                    <div class="col-md-8">
                        <input type="text" name="vatRegistrationNo" id="vatRegistrationNo" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn float-right btn-lg btn-success" style="margin-right:auto">Submit</button>
    </form>
</section>

<br />
<br />
<section class="section_cls" id="page_two_id"></section>
<br />
<br />
<section class="section_cls" id="page_there_id"></section>

